@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css');

.container {
  margin-top: 2rem;
}

.dinosaur-game {
    border-style: solid;
    margin: auto;
    background-image: url('../images/background4.jpg');
    background-size: cover;
}

